<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moment 2</title>
  </head>
  <body>
    <h1>TEST</h1>
    <!-- testar api -->
    <h2>Get all users</h2>
    <ul id="user-list"></ul>
    <script>
      getData();
      async function getData() {
        const response = await fetch("http://localhost:3000/api/users");
        const data = await response.json();
        const list = document.getElementById("user-list");
        list.innerHTML = "";
        data.forEach((user) => {
          const li = document.createElement("li");
          li.textContent = `${user.companyname} – ${user.jobtitle} (${
            user.startdate
          } till ${user.enddate || "pågår"})`;
          list.appendChild(li);
        });
      }
    </script>
  </body>
</html>
